* {
	box-sizing: border-box;
}

body {
    background-color: #1A3330;
    font-family: Ancizar Sans, sans-serif;
}

h1 {
    font-size: 36px;
    color: #C8A31E;
    margin: 8px 0 0;
}

h3 {
    font-size: 24px;
    color: #C8A31E;
    margin: 8px 0 4px;
}

p {
    font-size: 20px;
    color: #fff;
    margin: 4px 0;
}

button {
    background-color: #85C98E;
    color: #212121;
    border: 3px solid #212121;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}

button:hover {
    background-color: #C8A31E; /* #E3D08E; */
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⚾</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

button:disabled {
    background-color: #AAA;
    cursor: not-allowed;
}

button p {
    font-size: 14px;
    color: #212121;
    font-weight: 400;
}

